.userhome {
    display: flex;
    /*height: 1000px;*/
    height: max-content;
}

.userhome .viewer{
    height: inherit;
    flex: 1 0 70%;
}

.userhome .rank{
    /*border-radius: 10px;*/
    /*border-color: #457B9D;*/

    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
    flex: 1 0 28%;
    background-color: #f2f2f2;

    /*padding: 5px;*/
}