.UserProjects{
    margin: 10px;
}

#Projects{
    /*background-color: #f2f2f2;*/
    text-align: left;
    width: 100%;
    display: table;
    border-collapse: collapse;
}

#Projects tr:nth-child(even){background-color: #f2f2f2}

#Projects td, #Projects th{
    padding: 8px;
}

#Projects thead th {
    /*background-color: #457B9D;*/
    border-bottom: 2px solid #e1e5eb;
}

#Projects tbody th:hover{
    color: #457B9D;
}

